{%  extends "layout.html" %}

{% block css %}

{% endblock %}

{% block content %}
    <h1>学生列表</h1>
    <div>
        <a href="add_student.html">添加</a>
    </div>
    <table style="border-spacing:20px;border-color:#dddddd;">
        <thead>
            <tr>
                <th>学生姓名</th>
                <th>学生邮箱</th>
                <th>所属班级ID</th>
                <th>所属班级</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    <td ugor="name">{{ row.name }}</td>
                    <td ugor="email">{{ row.email }}</td>
                    <td ugor="clsid">{{ row.cls.id }}</td>
                    <td ugor="clscap">{{ row.cls.caption }}</td>
                    <td>
                        <a href="edit_student.html?stuname={{ row.name }}">编辑</a>
                        | <a class="stu-delete">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block js%}
     <script>
        $(function () {
            $('#menu_student').addClass('active');
            bindStuDeleteEvent();
        });
        function bindStuDeleteEvent() {
            $('tbody').on('click','.stu-delete',function () {
                $(this).parent().prevAll().each(function () {
                    var text = $(this).text();
                    var name = $(this).attr('ugor');
                    var but = "del";
                    {#alert("text:"+text,"name:"+name);#}
                    $.ajax({
                        url:"student.html",
                        type:'POST',
                        data:{id:text,name:name,buttonname:but},
                        dataType:"JSON",
                        success:function (rep) {
                            if(!rep.status){
                                alert(rep.error);
                            }else{
                                location.reload();
                            }
                        }
                    })
                });
            })
        }
    </script>
{% endblock %}